/* Google fonts import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/* asterisk wildcard overrides styles from broweser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1, h2, h3 {
    font-family: "Oswald",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

#nav-menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    /* Hides nav bar */
    display: none;
}

#toggle:checked~nav {
    display: block;
}

#toggle-nav {
    /* Making icon bigger for user to click */
    font-size: 3rem;
}

#toggle {
    /* Removed checkbox */
    display: none;
}

/* Targeting header in html */
header {
    background-color: aliceblue;
    padding: 0 2rem;
    position: fixed;
    /* Layered ontop */
    z-index: 99;
    box-shadow: 0 3px 3px #3a3a3a;
    width: 100%;
}

header a {
    /* Taking the underline from Home, Gallery and sign up on nav bar */
    text-decoration: none;
    color: inherit;
}

/* Targeting main in html*/
main {
    /* Pushes footer down by taking up any extra space*/
    flex: 1 0 auto;
    margin-top: 140px;
}

#main-pic {
    height: 600px;
    width: 100%;
    background: url(../assets/images/Project\ picture.webp) no-repeat center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 107, 106, .6);
    font-size: 150%;
    position: absolute;
    bottom: 20px;
    width: 40%;
    min-height: 175px;
    padding-top: 30px;
    padding-left: 12px;
    text-align: center;
}

#cover-text > h2, #cover-text > h3 {
    color: white;
}

/* Targeting footer in html */
#social-media {
    text-align: center;
    padding: 20, 0;
    display: flex;
    justify-content: space-evenly;
    /* remove bullet points */
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
}


/* media query big device screens 768px and up */
@media screen and (min-width: 768px) {
    /* Any css wrote in this section only applies to larger screen sizes */
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-menu {
        display: flex;
    }

    #nav-menu >li {
        padding-left: 1rem;
    }

    .toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        margin: 0, 0.5rem;
        line-height: 75px;
    }
    main {
        margin-top: 255px;
    }
}

/* Media query for screens 992px and more */ 
@media screen and (min-width: 992px) {
    #nav-menu a:hover {
        border-bottom: 1.5px solid black;
    }
}