/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/* asterisk wildcard overrides styles from broweser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1 {
    font-family: "Oswald",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

#nav-menu {
    font-size: 115%;
    letter-spacing: 5px;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

/* Targeting header in html */
header {
    background-color: aliceblue;
    padding: 0 2rem;
    position: fixed;
    /* Layered ontop */
    z-index: 99;
    box-shadow: 0 3px 3px #3a3a3a;
    width: 100%;
}

header a {
    /* Taking the underline from Home, Gallery and sign up on nav bar */
    text-decoration: none;
    color: inherit;
}

/* Targeting main in html*/
main {
    background-color: blue;
    /* Pushes footer down by taking up any extra space*/
    flex: 1 0 auto;
}

/* Targeting footer in html*/
footer {
    background-color: purple;
}